/* fonts */

@font-face {
	font-family: 'MyriadPro';
	src: url('assets/fonts/MyriadPro-Regular.eot');
	src: url('assets/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/MyriadPro-Regular.woff') format('woff'),
		url('assets/fonts/MyriadPro-Regular.ttf')  format('truetype'),
		url('assets/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('assets/fonts/MyriadPro-Bold.eot');
	src: url('assets/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/MyriadPro-Bold.woff') format('woff'),
		url('assets/fonts/MyriadPro-Bold.ttf')  format('truetype'),
		url('assets/fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

html {
  font-family: 'MyriadPro', serif;
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;  
}

.header {  
  background-color: #dcdcdc;
}

.header__wrapper {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
}

.contacts li {  
  list-style: none;
}

.contacts a {
  font-size: 4rem;  
  line-height: 46px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #767676;
}

.form-container {
  padding: 70px 0 92px 97px;
  background: url('assets/images/background.png') no-repeat;
  background-size: cover;
}

.form-block {
  width: 358px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 275px;
  background-color: #9da3d7;  
}

.form-title {
  margin: 0 0 15px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #9da3d7;
  text-transform: uppercase;
}

.form label {
  margin: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.form input, button {  
  height: 49px;
  border: none;
}

.form input {
  width: 275px;
  margin-bottom: 20px;
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
}

.form input::-webkit-input-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;  
}
.form input::-moz-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;
}
.form input:-moz-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;
}
.form input:-ms-input-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;
}

.form button {
  width: 290px;
  background-color: #ffc087;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}