/* fonts */

@font-face {
	font-family: 'MyriadPro';
	src: url('assets/fonts/MyriadPro-Regular.eot');
	src: url('assets/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/MyriadPro-Regular.woff') format('woff'),
		url('assets/fonts/MyriadPro-Regular.ttf')  format('truetype'),
		url('assets/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('assets/fonts/MyriadPro-Bold.eot');
	src: url('assets/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/MyriadPro-Bold.woff') format('woff'),
		url('assets/fonts/MyriadPro-Bold.ttf')  format('truetype'),
		url('assets/fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

html {
  font-family: 'MyriadPro', serif;
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;  
}

.header {  
  background-color: #dcdcdc;
}

.header__wrapper {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
}

.contacts li {  
  list-style: none;
}

.contacts a {
  font-size: 4rem;  
  line-height: 46px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #767676;
}

.form-container {
  padding: 70px 0 92px 97px;
  background: url('assets/images/background.png') no-repeat;
  background-size: cover;
}

.form-block {
  width: 358px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 275px;
  background-color: #9da3d7;  
}

.form-title {
  margin: 0 0 15px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #9da3d7;
  text-transform: uppercase;
}

.form label {
  margin: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.form input, button {  
  height: 49px;
  border: none;
}

.form input {
  width: 275px;
  margin-bottom: 20px;
  padding-left: 15px;
  background-color: #ffffff;
  outline: none;
}

.form input::-webkit-input-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;  
}
.form input::-moz-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;
}
.form input:-moz-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;
}
.form input:-ms-input-placeholder {
  font-family: "Myriad Pro";
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #767676;
}

.form button {
  width: 290px;
  background-color: #ffc087;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-title {
  margin: 30px 0 0;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9da3d7;
}

.slider {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  width: 707px;
  height: 303px;  
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.17));
  background-color: #ffffff;
}

.slides {
  position: relative;
  width: 1000vw;
  height: 100%;
  display: flex;
  transition: transform 1s;
}

.slide {
  margin: 8px;
  width: 692px;
  height: 287px;
}

.slide1 {
  background: url('assets/images/slide1.png') 50% 7%;
}

.slide2 {
  background: url('assets/images/slide2.png') 50% 25%;
}

.slide3 {
  background: url('assets/images/slide3.png') 50% 18%;
}

.pagination {
  margin-bottom: 70px;
  display: flex;
}

.dot {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid #dddddd;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: inset 0 0 0 9px #dddddd33;
}

.dot:first-of-type {
  margin-left: 0;
}

.dot-inner {
  display: none;
}

.dot_active .dot-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #9da3d7;
}